<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>P</h1>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_p }}
        </table>
        <input type="submit" value="Send">
    </form> -->

    <!-- <h1>UL</h1>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_ul }}
        </table>
        <input type="submit" value="Send">
    </form> -->

    <h1>TABLE</h1>
    <form method="POST" action="/create/" novalidate>
        {% csrf_token %}
        <div style="margin: 12px;">
            {% for field in form %}
                <h2>{{ field.label_tag }}</h2>
                <div>
                    {{ field }}
                </div>
                <div>
                    {{ field.errors }}
                </div>
            {% endfor %}
        </div>
        <input type="submit" value="Send">
    </form>

    <h1>Списки</h1>
    {% if persons %}
        {% for person in persons %}
        <h1>{{ person.name }}</h1>
        <h2>{{ person.age }}</h2>
        {% endfor %}
    {% else %}
        <h2>Пользователи отсутствуют</h2>
    {% endif %}

    <!-- <h1>DIV</h1>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_div }}
        </table>
        <input type="submit" value="Send">
    </form> -->
</body>
</html>
