{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Формы</title>
</head>
<body>
    <div class="body_div">
    {% block body %}

    <div style="flex: 30%;">
    {% block form_title %}
        <h1>Add element</h1>
    {% endblock form_title %}
    <form method="POST" {% block form_action %} action="{% url 'index' %}" {% endblock form_action %}, novalidate>
        {% csrf_token %}
        <div style="margin: 12px;">
            {% for field in form %}
                <h2>{{ field.label }}</h2>
                <div>
                    {{ field }}
                </div>
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                {% endif %}
            {% endfor %}
        </div>
        <input type="submit" value="Send">
    </form>
    </div>

    <div style="flex: 70%;">
    <h1>Списки</h1>
    {% if persons %}
        <table>
            <tr>
                <th>Имя</th>
                <th>Возраст</th>
            </tr>
            {% for person in persons %}
                <tr>
                    <th>{{ person.name }}</th>
                    <th>{{ person.age }}</th>
                    <th><a href="/update/{{person.pk}}">Изменить</a></th>
                    <th><a href="/delete/{{person.pk}}">Удалить</a></th>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Пользователи отсутствуют</h2>
    {% endif %}
    </div>

    {% endblock body %}
    </div>
</body>
</html>
