<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>P</h1>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_p }}
        </table>
        <input type="submit" value="Send">
    </form> -->

    <!-- <h1>UL</h1>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_ul }}
        </table>
        <input type="submit" value="Send">
    </form> -->

    <h1>Редактирование</h1>
    <form method="POST" action="/update/{{pk}}/">
        {% csrf_token %}
        <div style="margin: 12px;">
            {% for field in form %}
                <h2>{{ field.label_tag }}</h2>
                <div>
                    {{ field }}
                </div>
                <div>
                    {{ field.errors }}
                </div>
            {% endfor %}
        </div>
        <input type="submit" value="Сохранить">
    </form>

    <!-- <h1>DIV</h1>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_div }}
        </table>
        <input type="submit" value="Send">
    </form> -->
</body>
</html>
